@page
@model ContosoPizza.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
    </dl>
</div>

@if (Model.CustomerId > 0)
{
    var customerName = $"{Model.Customer.FirstName} {Model.Customer.LastName}";

    <div>
        <a asp-page="../Customers/Details" asp-route-id="@Model.CustomerId">Back to @customerName's Orders</a>         
    </div>
}
